* {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

#board, .boardInfo {
  max-width: 500px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo {
  font-size: 25px;
}

#gameOver {
  display: none;
}

.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#start {
  background-color: rgb(213, 83, 83);
  border: none;
  color: white;
}

#scoreBoard {
  display: inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #A5D757;
}

.snakeSquare {
  background-color: #3354C5;
}

.foodSquare {
  background-color: #F53C15;
}